.grocery-list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
  transition: var(--transition);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.grocery-list-item:hover {
  color: var(--clr-grey-5);
  cursor: default;
}

.grocery-list-item:hover .title {
  color: var(--clr-grey-5);
}

.submit-buttons {
  display: flex;
  flex-direction: row;
  width: 9rem;
  justify-content: flex-end;
  gap: 0.5rem;
}

.clear-btn {
  text-transform: capitalize;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}

.clear-btn:hover {
  color: var(--clr-red-dark);
}
