.submit-container {
  width: 100%;
  margin: 0 auto;
  max-width: 30rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: center;
}

.submit-input-field {
  height: 2.5rem;
  width: 100%;
  background: var(--clr-grey-10);
  font-size: 1rem;
  color: var(--clr-grey-5);
  align-items: center;
}

.submit-input {
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  color: var(--clr-grey-5);
}

.submit-edit {
  padding-right: 1rem;
  background: var(--clr-grey-10);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  color: var(--clr-grey-5);
  width: 50%;
}

.submit-btn {
  height: 2.5rem;
  /* width: 20%; */
  background: var(--clr-primary-8);
  border-color: transparent;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  cursor: pointer;
  content: var(--clr-primary-5);
  transition: var(--transition);
  font-size: 0.85rem;
}
.submit-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.edit {
  background-color: var(--clr-green-light);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 5rem;
}

.edit:hover {
  background-color: var(--clr-green-dark);
}

.confirm {
  background-color: var(--clr-grey-6);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 5rem;
}

.confirm:hover {
  background-color: var(--clr-grey-8);
}

.delete {
  background-color: var(--clr-red-light);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.delete:hover {
  background-color: var(--clr-red-dark);
}

.list-container {
  position: relative;
  height: 2rem;
}

.list {
  height: 2rem;
  padding: 0.5rem;
  background: var(--clr-grey-10);
  padding-left: 0.5rem;
  color: rgb(80, 78, 78);
}

.list:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
  cursor: default;
}
